body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

table {
	font-size: 1em;
}


.ui-slider-range, .ui-corner-all, .ui-widget-header {
  display: inline-block;
}
.ui-slider {
  display: inline-block;
}
.ui-slider-horizontal .ui-slider-range-min {
	display: inline-block;
}
.ui-slider-horizontal .ui-slider-range-max {
	display: inline-block;
}

/*http://jsfiddle.net/8JX4A/*/



#TuningItems>div { /* ">" est important pour éviter d'appliquer les réglages à tous les div. */
  /*height: 1000px;*/
  height:auto;
  width: auto;
  margin: 80px 40px;
  padding: 25px;
  background: #cccfff;
}

/* Don't allow images to show full-size */
.ResultImage {
  position:static;
  top: 75px;
  right: 0;
  float:left;
  max-width: 400px;
}

.ChannelImage {
  position:static;
  top: 75px;
  right: 0;
  float:left;
  max-width: 400px;
}

.MontageImage{
  max-width: 1000px;
}

.ThumbnailsList{
  position:static;
  /*float:left;*/
  display:inline-block;
}

.ResultTuningArtifacts{
  position:relative;
  float:right;
  top:0px;
  bottom:0px;
  left:20px;
  display:inline-block;
}

.ChannelTuningArtifacts{
  position:relative;
  float:right;
  top:-400px;
  bottom:0px;
  left:500px;
  display:inline-block;
}

.ChannelTuner {
  position:static;
  float:left;
  display:inline-block;
  /*display: flex;*/
  justify-content: space-evenly;
}

.ResultTuner {
  position:static;
  float:left;
  display:inline-block;
  /*display: flex;*/
  justify-content: space-evenly;
}

.QuickFigureTuner {
  position:relative;
  float:left;
  display:inline-block;
  /*display: flex;*/
  justify-content: space-evenly;
}


.chartContainer {
  position:relative;
  height: auto;
  margin: 0px auto;
  width: auto;
  background:white;
  border: solid #ccc 1px;
  margin-bottom: 6px;
  right:-500px;
  top:-200px;
  float:right;
  display:inline-block;
}

.ImageDivItem{
  height:auto;
  position:relative;
}

#ChannelsImages img {
  max-width: 150px;
}
