body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

table {
	font-size: 1em;
}


.ui-slider-range, .ui-corner-all, .ui-widget-header {
  display: inline-block;
}
.ui-slider {
  display: inline-block;
}
.ui-slider-horizontal .ui-slider-range-min {
	display: inline-block;
}
.ui-slider-horizontal .ui-slider-range-max {
	display: inline-block;
}

/*http://jsfiddle.net/8JX4A/*/



#TuningItems>div { /* ">" est important pour éviter d'appliquer les réglages à tous les div. */
    margin: 80px 40px;
    padding: 25px;
    background: #cccfff;
}

/* Don't allow images to show full-size */
.ResultImage {
  max-width: 200px;
}

.ChannelImage {
  float:left;
  max-width: 200px;
}

.MontageImage{
  max-width: 600px;
}

.ChannelTuner {
  float:left;
  display:inline-block;
  /*display: flex;*/
  justify-content: space-evenly;
}

.chartContainer {
  float:right;
  display:inline-block;
  width: 5%;
}

#ChannelsImages img {
  max-width: 150px;
}
